* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url(/img/background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

h1 {
    font-size: 32px;
}

h3 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.container {
    border-radius: 30px;
    background-color: #ead5d5;
    display: grid;
    justify-content: center;
    width: 23rem;
    height: 35rem;
}

header {
    height: 30px;
    margin-top: 2rem;
    text-align: center;
}

.main{
    margin-bottom: 18rem;
}

.container-add-task {
    padding-top: 100rem;
}

.container-search {
    display: flex;
}

#search {
    padding-right: 10px;
}

#filter {
    padding-left: 10px;
}

input {
    padding-left: 2px;
    border: 0;
}

button {
    height: 1.5rem;
    width: 2rem;
}

.tasks{
    padding: 10px 0 10px 10px;
    background-color: red;
    position: relative;
    top: 20px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 900;
}

.toolbar {
    margin-right: 6px;
}

.confirm,
.edit,
.delete {
    position: relative;
    width: 3.8rem;
}

button:hover {
    background-color: #4545b5;
    transition: 0.5s;
    border: 0;
    border-radius: 30px;
}

input:focus {
    transition: 0.5s;
    border-radius: 8px;
    padding-left: 3px;
}